<%- include('.././public/header.html') %>

<div id="search">
<h1>Select Item To Craft</h1>
<select name="item" id="item">
    <option value="Default Choice" disabled selected>Select item to craft</option>
    <option value="Jhinga Biryani">Jhinga Biryani</option>
    <option value="Jhinga Curry">Jhinga Curry</option>
</select>
</div>
<div class="clear"></div>

<div id="result">
    
<div style="float:left;">
<img src="https://img.finalfantasyxiv.com/lds/pc/global/images/itemicon/a7/a72dcb22f45f0dfba66a3c43745b30f6829e03ab.png">
</div>
    
    <table>
        <tr><td>Jhinga<td> <td>1</td></tr>
        <tr><td>Perilla Oil<td> <td>2</td></tr>
        <tr><td>Northern Sea Salt<td> <td>1</td></tr>
        <tr><td>Bomba Rice<td> <td>2</td></tr>
        <tr><td>Thavnairian Paprika<td> <td>1</td></tr>
        <tr><td>Earthbreak Aethersand<td> <td>1</td></tr>
        <tr><td>Fire Cluster<td> <td>3</td></tr>
        <tr><td>Water Cluster<td> <td>3</td></tr>
    </table>
</div>
    
<%- include('.././public/footer.html') %>